@model Hrm_SystemCore.Models.tblProvince

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblProvince</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.prov_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prov_name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
